#app {
  font-size: 20px;
}

table, td {
  border: 1px solid;
  border-color: black;
}

#icon:hover {
  cursor: pointer;
}

.tooltip .tooltext {
  width: 120px;
  visibility: hidden;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltext{
  visibility: visible;
}

.nav-bar {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #EEB76B;
}

.nav-bar *{
  margin: 0px 10px 0px 10px;
}

#current-page {
  color: #E2703A;
}